

<main class="main">
  <mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
      <div class="side-container">
        <button mat-flat-button class="side-button" (click)="openDialog()">Add a new Task</button>
          <div>
            <button mat-flat-button class="side-tasks-button" *ngFor="let item of buttonList" color="warn" (click)="showDetails(item)">{{item.name}}</button>
          </div>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div class="side-container">
        <span class="top-bar">
          <h3> {{selectedTask ? selectedTask.name : 'No task selected'}} </h3>
  
          <div> {{selectedTask ? selectedTask.description : 'No task selected'}}</div>
          <div> {{selectedTask ? selectedTask.status : 'No task selected'}}</div>

          <mat-button-toggle-group 
            name="fontStyle" 
            aria-label="Font Style" 
            [(ngModel)]="selectedStatus" 
            (change)="setStatus()" 
            [value]="selectedTask ? selectedTask.status : statusList.Todo"
          >
            <mat-button-toggle  *ngFor="let enum of keys(statusList)"   [value]="enum" (onKeyPress)="setStatus()">{{enum}}</mat-button-toggle>
          </mat-button-toggle-group>
        </span>

        <div> timer </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</main>

<router-outlet />
